//colors
$background-gradient: linear-gradient(152deg, rgba(184,193,236,1) 30%, rgba(35,41,70,1) 100%);
$background-color: rgb(184,193,236);
$title-color: #232946;
$card-text-color: #232946;
$card-background-color: #d4d8f0;

//font-weight
$title-weight: 200;

//padding
$scroll-padding: 10px;

//size
$scroll-width: 1600px;
$scroll-height: 600px;